<!DOCTYPE html>
<html>
<head>
    <title>Waiting for Orders</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .h1 {
          color: #333;
        }

        .form {
          margin-top: 10px;
        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 25px 50px;
            text-align: center;
            text-decoration: none;
            font-size: 22px;
            cursor: pointer;
            border-radius: 10px;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .button:hover {
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .logo {
            width: 200px;
            height: auto;
        }

        .product {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            margin: 20px 0;
            width: 80%;
            max-width: 600px;
            text-align: center;
        }

        .product img {
            max-width: 60%;
            height: auto;
            border-radius: 8px;
        }

        .form-text {
            font-size: 24px;
            color: #333;
            margin: 20px 0;
        }

    </style>
    </head>
<body>
  <div class="container">
      <img src="https://dbos-blog-posts.s3.us-west-1.amazonaws.com/logos/black_logotype%2Btransparent_bg_h4000px.png" alt="DBOS Logo" class="logo">
      <div class="product">
          <img src="https://dbos-blog-posts.s3.us-west-1.amazonaws.com/live-demo/WidgetWaitPatiently.webp" alt="Employee awaiting orders">
          <h1>Welcome, {{ name }}</h1>
          <p class="form-text">There are no orders right now.  Waiting for orders...</p>
      </div>
  </div>
  <form id="numberForm" action="/send" method="GET">
    <label for="numberInput">Enter a number:</label>
    <input type="text" id="numberInput" name="number", value="88">
    <button type="submit">Send</button>
  </form>
  <div>
      <a href="/dashboard">I'm in charge here!</a>
  </div>
  <div>
      <a href="/crash">I'm feeling mischevious!</a>
  </div>

  <script>
    setTimeout(() => {
      window.location.href = `/fulfill?name={{ name }}`;
    }, 1000);
  </script>
</body>
</html>
