/* You can add global styles to this file, and also import other style files */

.bankcard {
  margin: 20px;
  padding: 15px 20px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 10px; /* Rounded corners */
  position: relative;
}

.button {
    margin: 10px;
    padding: 15px 20px;
    background-color: #0074D9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; /* Rounded corners */
    position: relative;
}

.button-green {
    margin: 10px;
    padding: 15px 20px;
    background-color: #006666;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; /* Rounded corners */
    position: relative;
}

.button-grey {
  margin: 10px;
  padding: 15px 20px;
  background-color: #7f7f7f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px; /* Rounded corners */
  position: relative;
}


.announcement {text-align: left;
    padding: 10px;
    margin: 10px;
    background:#FDF6DA;
    border: 1px solid #ddcd99;
    font-size: 100%;
    border-radius: 10px;
  position: relative;
}

.container {
  padding: 10px;
  margin: 10px;
}
