{
  "extends": [
    "plugin:@dbos-inc/dbosRecommendedConfig"
  ],
  "plugins": [
    "@dbos-inc",
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/restrict-plus-operands": "off",
    "@typescript-eslint/require-await": "off",
    "@typescript-eslint/no-unnecessary-type-assertion": "off",
    "@typescript-eslint/semi": ["error"],

    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_" }
    ],
    "no-case-declarations": "off",
    "@typescript-eslint/unbound-method": [
      "error",
      {
        "ignoreStatic": true
      }
    ]
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
