apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: ${DBOS_APP_NAME}-scaledobject
spec:
  scaleTargetRef:
    name: ${DBOS_APP_NAME}
  minReplicaCount: 1
  maxReplicaCount: 100  # Adjust as needed
  triggers:
  - type: metrics-api
    metadata:
      url: http://${DBOS_APP_NAME}.${KUBERNETES_NAMESPACE}.svc.cluster.local:8000/metrics/queueName
      valueLocation: queue_length
      targetValue: "2"  # Set to your worker concurrency value

