# To enable auto-completion and validation for this file in VSCode, install the RedHat YAML extension
# https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml

# yaml-language-server: $schema=https://raw.githubusercontent.com/dbos-inc/dbos-transact/main/dbos-config.schema.json

name: dbos-nextjs-starter
language: node
runtimeConfig:
  start:
    - npm run start
database:
  migrate:
    - echo 'No migrations specified'
telemetry:
  logs:
    logLevel: 'info'